{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image_class := .Params.featured_image_class | compare.Default "cover bg-center" }}
  {{ $cover_dimming_class := .Params.cover_dimming_class | compare.Default "bg-black-60" }}
  <header class="{{ $featured_image_class }}" style="background-image: url('{{ $featured_image }}'); min-height: 45vh;">
    <div class="{{ $cover_dimming_class }}" style="min-height: 45vh; display: flex; align-items: center; justify-content: center;">
      <div class="tc ph3 ph4-ns" style="padding-top: 3rem; padding-bottom: 3rem;">
        {{ if not .Params.omit_header_text }}
          <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | compare.Default .Site.Title }}</div>
          {{ if not .Params.omit_header_description }}
            {{ with .Params.description  }}
              <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
                {{ . }}
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header style="min-height: 50vh;">
    <div class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }}" style="min-height: 50vh; display: flex; align-items: center; justify-content: center;">
      <!-- Navigation now handled globally in baseof.html -->
    </div>
  </header>
{{ end }}
