{{/* Quote shortcode with optional author attribution */}}
{{ $content := .Inner }}
{{ $author := .Get "author" }}
{{ $source := .Get "source" }}
{{ $class := .Get "class" | default "" }}

<blockquote class="quote-block {{ $class }}">
  <div class="quote-content">
    {{ $content | markdownify }}
  </div>
  {{ if or $author $source }}
  <cite class="quote-author">
    {{ if $author }}<span class="quote-name">{{ $author }}</span>{{ end }}
    {{ if and $author $source }}, {{ end }}
    {{ if $source }}<span class="quote-title">{{ $source }}</span>{{ end }}
  </cite>
  {{ end }}
</blockquote>